<html>

<head>
  <title>[Myron Wilson]</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Myron Wilson Contact Page">
    <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>">

    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    
  <script type="text/javascript" defer="defer">
     var ready;
     ready = function() { $.backstretch("<%= asset_path 'bg_blurred.jpg' %>", {speed: 500}); };   
     $(document).ready(ready);
     $(document).on('page:load', ready);
  </script>

  </head>



<body style='margin-left: 15%;margin-right: 15%;'>
  <div style='border:solid #7E97AD ;background:#7E97AD;margin-top: 5%; clear: both; height; 40px;'>
  <p class=Name style='margin-top:4%;margin-right:0in;margin-bottom:8.0pt;color:white;margin-left:0.1in;background:#7E97AD;font-size:54;float: left;'>Myron Wilson</p>

<div style='color:white;'> 
<p style='float: right;'>1700 Clays Mill Rd.
<br>Lexington, KY 40503
<br>(270) 313 - 3398
<br><em>myronw@gmail.com</em></div></p>
<BR><br><BR><br>
</div>

<table class=ResumeTable border=0 cellspacing=0 cellpadding=0 summary=Resume
 width="80%" style='width:100.0%;border-collapse:collapse'>
 <tr>
  <td valign=top style='border-bottom:solid #7E97AD 1.0pt;'>
  <h2>Positioning Statement</h2>
  </td>
  <td width=31 valign=top style='width:23.6pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=522 valign=top style='width:391.5pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <p class=ResumeText style='margin-right:.75in'>CAD Engineer Senior with 3
  years full-time experience, and 2 years undergrad co-op experience, with a
  focus in Physical Verification and PDKs.</p>
  </td>
 </tr>
 <tr>
  <td width=119 valign=top style='width:88.9pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <h2>Skills &amp; Abilities</h2>
  </td>
  <td width=31 valign=top style='width:23.6pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=522 valign=top style='width:391.5pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <h2>CAD SKILLS</h2>
  <p class=MsoNormal style='margin:0in;margin-bottom:.0001pt'>Experience with:</p>
  <p class=MsoListParagraphCxSpFirst style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Supporting PDKs/FDKs (internal and external)</p>
  <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Mentor Calibre (DRC/LVS/RCX/Latchup Ruledecks)</p>
  <p class=ResumeTextCxSpFirst style='margin-top:0in;margin-right:1.0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Virtuoso/ICFB (layout/schematic/pcells)</p>
  <p class=ResumeTextCxSpMiddle style='margin-top:0in;margin-right:1.0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>Mentor ADMS / Cadence Analog Design Environment</p>
  <p class=ResumeTextCxSpMiddle style='margin-top:0in;margin-right:1.0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>IC Manage version control</p>
  <p class=ResumeTextCxSpMiddle style='margin-top:0in;margin-right:1.0in;
  margin-bottom:0in;margin-left:.5in;margin-bottom:.0001pt;text-indent:-.25in'><span
  style='font-family:Symbol'><span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span></span>General infrastructure for tools/wrappers across multiple
  physical sites</p>
  <p class=ResumeTextCxSpLast style='margin-top:0in'>Experience with tool
  control in: SKILL, SVRF, TCL</p>
  <h2>GENERAL SKILLS </h2>
  <p class=MsoNormal>Linux environment, Ruby/Rails, Perl, Shell scripting, Some
  C/C++, Databases,</p>
  <p class=MsoNormal> Revision control systems, Load Balancers (LSF), General PHP
  / HTML</p>
  </td>
 </tr>
 <tr>
  <td width=119 valign=top style='width:88.9pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <h2>Experience</h2>
  </td>
  <td width=31 valign=top style='width:23.6pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=522 valign=top style='width:391.5pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <h2>Cypress Semiconductor - Lexington, KY</h2>
  <p class=MsoNormalCxSpFirst>CAD Engineer - May 2012 - July 2014</p>
  <p class=MsoNormalCxSpLast>CAD Engineer Senior - July 2014 - Present</p>
  <p class=ResumeText style='margin-left:22.5pt;text-indent:-.25in'><span
  style='font-family:Wingdings'><span style='font:7.0pt "Times New Roman"'>&nbsp;
  </span></span><span style=''>Member of the Technology
  Implementation CAD group</span></p>
  <p class=ResumeText style='margin-left:22.5pt;text-indent:-.25in'><span
  style='font-family:Wingdings'><span style='font:7.0pt "Times New Roman"'>&nbsp;
  </span></span><span style=''>Support PDKs/FDKs for our own
  Fab and external Foundries</span></p>
  <p class=ResumeText style='margin-left:22.5pt;text-indent:-.25in'><span
  style='font-family:Wingdings'><span style='font:7.0pt "Times New Roman"'>&nbsp;
  </span></span><span style=''>Provide cadflows for all IC
  design divisions within the company across multiple process nodes</span></p>
  <p class=ResumeText style='margin-left:22.5pt;text-indent:-.25in'><span
  style='font-family:Wingdings'><span style='font:7.0pt "Times New Roman"'>&nbsp;
  </span></span><span style=''>Coordinate with software vendors
  to QA updated tool versions</span></p>
  <p class=ResumeText style='margin-left:22.5pt;text-indent:-.25in'><span
  style='font-family:Wingdings'><span style='font:7.0pt "Times New Roman"'>&nbsp;
  </span></span><span style=''>Support tools through internal
  bug tickets, or though external SRs, as necessary</span></p>
  <h2>CAD Co-op (Undergrad), Cypress Semicondcutor  Lexington, KY</h2>
  <p class=ResumeText style='margin-right:.25in'>Jan 2010 - May 2012</p>
  <p class=ResumeText style='margin-top:2.0pt;margin-right:63.0pt;margin-bottom:
  2.0pt;margin-left:22.5pt;text-indent:-.25in'><span style='font-family:Wingdings'><span
  style='font:7.0pt "Times New Roman"'>&nbsp; </span></span>Performed EDA
  software QA, developed and supported internal systems (web-based), and performed
  database maintenance &amp; SQL reports.</p>
  <p class=ResumeText style='margin-left:22.5pt;text-indent:-.25in'><span
  style='font-family:Wingdings'><span style='font:7.0pt "Times New Roman"'>&nbsp;
  </span></span>Assisted the CAD group, working as a member of project teams
  for various CAD deliverables  IP regression framework, IC6 upgrade, Defect
  Tracking system, Physical Verification QA automation,</p>
  </td>
 </tr>
 <tr>
  <td width=119 valign=top style='width:88.9pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <h2>Education</h2>
  </td>
  <td width=31 valign=top style='width:23.6pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=522 valign=top style='width:391.5pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <h2>University of Kentucky  Lexington, KY</h2>
  <p class=MsoNormal>B.S., Computer Engineering   (May 2012)</p>
  <p class=MsoListParagraphCxSpFirst style='margin-left:22.5pt;text-indent:-.25in;margin-bottom:0pt;'>
  <span style='font-family:Wingdings'><span style='font:7.0pt "Times New Roman"'>&nbsp;
  </span></span>3.5 GPA  Cum Laude</p>
  <p class=MsoListParagraphCxSpMiddle style='margin-left:22.5pt;text-indent:
  -.25in'><span style='font-family:Wingdings'><span style='font:7.0pt "Times New Roman"'>&nbsp;
  </span></span>Focus on VLSI</p>
  <p class=MsoListParagraphCxSpMiddle style='margin-left:22.5pt;text-indent:
  -.25in;margin-bottom:0pt'><span style='font-family:Wingdings'><span style='font:7.0pt "Times New Roman"'>&nbsp;
  </span></span>Relevant coursework:</p>
  <p class=MsoListParagraphCxSpMiddle style='margin-left:45.0pt;text-indent:
  -.25in;margin-bottom:0pt'><span style='font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  </span></span>Intro to VLSI &amp; Advanced VLSI (taught by Cypress adjunct
  professor)</p>
  <p class=MsoListParagraphCxSpMiddle style='margin-left:45.0pt;text-indent:
  -.25in;margin-bottom:0pt'><span style='font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  </span></span>Semiconductor Devices</p>
  <p class=MsoListParagraphCxSpMiddle style='margin-left:45.0pt;text-indent:
  -.25in;margin-bottom:0pt'><span style='font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  </span></span>Embedded Systems</p>
  <p class=MsoListParagraphCxSpLast style='margin-left:45.0pt'>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=119 valign=top style='width:88.9pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <h2>Organizations</h2>
  </td>
  <td width=31 valign=top style='width:23.6pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=522 valign=top style='width:391.5pt;border:none;border-bottom:solid #7E97AD 1.0pt;
  padding:.1in 0in .1in 0in'>
  <h2>IEEE</h2>
  Member since 2009<br>
  UK Student Branch / Lexington Branch<br><br>
  IEEE Hardware Team (Robot team)<br>
  2011 - 2012<br>
  Competed in the 2012 IEEE SoutheastCon Student Robotics<br>
  Competition
  </td>
 </tr>
 <tr>
  <td width=119 valign=top style='width:88.9pt;border:none;padding:.1in 0in .1in 0in'>
  <h1>&nbsp;</h1>
  </td>
  <td width=31 valign=top style='width:23.6pt;border:none;padding:.1in 0in .1in 0in'>
  <p class=MsoNormal>&nbsp;</p>
  </td>
  <td width=522 valign=top style='width:391.5pt;border:none;padding:.1in 0in .1in 0in'>
  <p class=ResumeText>&nbsp;</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

</div>
</body>

</html>
